<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
		<h1>
		<%= gravatar_for @user %>
		<%= @user.firstname + @user.lastname %>
		</h1>
		</td>
	</tr>
	<tr>	
		<td class="sidebar round">
			<strong>Email: </strong> <%= @user.email %><br />
			<strong>Profile URL: </strong> <%= link_to user_path(@user), @user %><br />
			<strong>Microposts</strong> <%= @user.microposts.count %>
		</td>
	</tr>

</table>

	
		<table class="front" summary="For signed-in users">
			<tr>
				<td class="main">
					<h1 class="micropost">What's up?</h1>
					<%= render 'shared/micropost_form' %>			
			</tr>
		</table>
	

	<% unless @user.microposts.empty? %>
	<%= will_paginate @microposts %>
	<table class="microposts" summary="User microposts">
		<%= render @microposts %>
	</table>
	<%= will_paginate @microposts %>
	<% end %>


	<br>
		<strong>Project Name</strong> <%= @user.projects.count %>
	<br>

<table>
<% @user.projects.each do |project| %>
	<tr><%= project.name %></tr>
<% end %>
</table>

<br>

<table>
<% @user.tasks.each do |task| %>
	<tr><td><%= task.name %></td><td><%= task.description%></td></tr>
<% end %>
</table>